@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


	ViewBag.Title = "Giới thiệu";
}
<link href="~/css/style.css" rel="stylesheet" />
<main id="main" class="">
	<div id="content" class="content-area page-wrapper" role="main">
		<div class="row row-main">
			<div class="large-12 col">
				<div class="col-inner">
					<h2 class="has-text-align-center">CÔNG TY TNHH THIẾT KẾ XÂY DỰNG VÀ CƠ KHÍ HỒNG TÂM</h2>



					<p></p>



					<p></p>



					<p></p>



					<h3>THIẾT KẾ NHÀ</h3>



					<p>Có thể nói, xây nhà là việc làm quan trọng nhất của cuộc đời mỗi con người. Vì thế, là đơn vị thiết kế chuyên sâu trong các lĩnh vực&nbsp;thi công ngoại thất và nội thất công trình dân dụng – công nghiệp,  HỒNG TÂM  luôn mong muốn cùng bạn kiến tạo nên những tổ ấm hoàn hảo nhất.</p>



					<p>Những công trình nhà đẹp của&nbsp;<strong> HỒNG TÂM </strong>&nbsp;mà bạn đã và đang xem dưới đây chính là một trong số rất nhỏ những mẫu nhà đẹp được chúng tôi thiết kế trong suốt chặng đường gần 20 năm hình thành và phát triển vừa qua. Qua mỗi thiết kế được tiếp nhận,  HỒNG TÂM  đều làm hài lòng khách hàng.&nbsp;Không ngừng nỗ lực để đáp lại niềm tin của khách hàng về dịch vụ sử dụng, chúng tôi đã mang đến cho tất cả quý khách hàng cùng chủ đầu tư những mẫu&nbsp;kiến trúc nhà đẹp&nbsp;bền vững và tiết kiệm thể hiện tâm huyết, óc sáng tạo của kiến trúc sư, kỹ sư dành cho từng công trình.</p>



					<h2>1. Những yếu tố quan trọng bạn cần chuẩn bị kỹ trước khi tiến hành thiết kế nhà</h2>



					<p>Một quy luật đơn giản xưa nay, ai cũng biết đó là, muốn xây dựng thi công phải có thiết kế? Vậy muốn có thiết kế hợp lý để thi công bạn cần chuẩn bị những gì?</p>



					<h3>1.1. Xác định hiện trạng lô đất xây dựng của gia đình</h3>



					<p>Vị trí, diện tích lô đất xây dựng là một trong những yếu tố quan trọng tác động trực tiếp đến thiết kế nhà hiện nay. Nếu như bạn may mắn sở hữu một lô đất rộng rãi, nền đất tốt, vị trí thuận tiện… thì bạn có thể thỏa sức để lựa chọn những mẫu thiết kế nhà cho gia đình. Đó có thể là một ngôi biệt thự, một mẫu nhà 2, 3, 4 tầng mái thái,&nbsp;biệt thự nhà vườn, nhà cấp 4…&nbsp;</p>



					<figure class="wp-block-image"><img decoding="async" src="https://wedo.vn/wp-content/uploads/2018/10/mau-thiet-ke-biet-thu-dep-%C4%83.jpg" data-src="https://wedo.vn/wp-content/uploads/2018/10/mau-thiet-ke-biet-thu-dep-%C4%83.jpg" alt="mau-thiet-ke-biet-thu-dep-ă" class="load2"></figure>



					<p>Công trình nhà đẹp với thiết kế đảm bảo tính <em>thẩm mỹ cao</em></p>



					<p>Tuy nhiên nếu như gia đình bạn ở phố, sở hữu một lô đất hình chữ nhật nhỏ về chiều rộng và dài về chiều sâu, thì không có phương án thiết kế nhà nào khác ngoài&nbsp;mẫu thiết kế nhà ống. Bạn chỉ có thể lựa chọn phong cách thiết kế cũng như hình khối mẫu nhà ống với kiểu nhà ống Tân cổ điển, nhà ống mái bằng, nhà ống mái thái, nhà ống mái lệch…, chứ không thể thay đổi kiểu dáng kiến trúc nhà từ nhà ống sang nhà cấp 4, hay biệt thự…</p>



					<p>Trước khi tiến hành thiết kế xây dựng nhà, bạn nên định hình trước trong đầu mình về mô hình ngôi nhà tương lai, xác định rõ hiện trạng đất xây dựng để có những bước chuẩn bị tốt hơn về sau.&nbsp;</p>



					<h3>1.2.&nbsp; Vạch ra nhu cầu và mong muốn về mẫu nhà</h3>



					<p><strong>Thiết kế nhà</strong>&nbsp;có khá nhiều phong cách cũng như kiểu dáng thiết kế, một trong những điều đầu tiên cần phải trả lời trước khi thiết kế đó là bạn phải vạch ra một vài gạch đầu dòng như:&nbsp;<em>xây nhà để ở hay cho thuê, xây nhà cho bao nhiêu người ở, bạn muốn xây bao nhiêu tầng, bạn có mong muốn gì về mẫu nhà của mình?</em>&nbsp;Chính những câu hỏi cũng như câu trả lời mà bạn đang vạch ra, sẽ là “kim chỉ nam” cho kiến trúc sư khai thác và giúp bạn sở hữu mẫu thiết kế nhà hợp lý, hợp ý.</p>



					<figure class="wp-block-image"><img decoding="async" src="https://wedo.vn/wp-content/uploads/2019/06/mau-thiet-ke-nha-dep-5.jpg" data-src="https://wedo.vn/wp-content/uploads/2019/06/mau-thiet-ke-nha-dep-5.jpg" alt="mau-thiet-ke-nha-dep-5" class="load"></figure>



					<h3>1.3. Chuẩn bị kinh phí xây dựng</h3>



					<p>Mọi nhu cầu cũng như mong muốn, tất cả đều phải được quy chiếu về vốn đầu tư. Nhu cầu cũng như mong muốn về mẫu thiết kế nhà thì vô hạn, tuy nhiên kinh phí đầu tư của mỗi gia đình lại có hạn khác nhau. Chưa hẳn ngôi nhà xây dựng nhiều tiền đã đẹp và khoa học hơn mẫu nhà xây dựng với chi phí thấp hơn. Tuy nhiên bạn cần phải dự trù được kinh phí đầu tư trước khi thiết kế để có thể sở hữu một mẫu nhà phù hợp, tránh những phát sinh đội vốn hoặc không đáp ứng mong muốn của bạn sau khi hoàn thiện.</p>



					<h3>1.4. Lựa chọn đơn vị thiết kế nhà uy tín</h3>



					<p>Bạn là dân không chuyên, không có am hiểu sâu về thiết kế kiến trúc, kết cấu công trình, thiết kế nội thất, … bạn có dám mạo hiểm tự thiết kế mẫu nhà cho gia đình? Ngày nay, nhiều người chọn tiết kiệm chút tiền bằng việc bỏ qua bản vẽ thiết kế hay thậm chí&nbsp;<strong>tự thiết kế nhà</strong>&nbsp;theo ý muốn, sử dụng các phần mềm thiết kế nhà online và chọn các nhà thầu thông qua quen biết để xây nhà. Tuy nhiên, thiết kế nhà đẹp không đơn thuần là thuận mắt về mặt cảm tính, mà còn phải đảm bảo các yếu tố chuyên môn để trường tồn qua năm tháng.</p>



					<figure class="wp-block-image"><img decoding="async" src="https://wedo.vn/wp-content/uploads/2019/06/mau-thiet-ke-nha-cap-4-14.png" data-src="https://wedo.vn/wp-content/uploads/2019/06/mau-thiet-ke-nha-cap-4-14.png" alt="mau-thiet-ke-nha-cap-4-14" class="load1"></figure>



					<p>Mẫu thiết kế nhà cấp 4 nông thôn</p>



					<p>Một trong những lời khuyên được nhiều người đưa ra, đó là tuyệt đối không bao giờ tự lên phương án thiết kế nhà, bởi đây là một trong những sự mạo hiểm rất đáng lo ngại, có thể sẽ phá hỏng cả không gian sống cũng như phá hỏng kế hoạch xây dựng đầu tư của bạn.</p>



					<p>Muốn có một&nbsp;<strong>thiết kế nhà đẹp</strong>, hoàn hảo, thì bạn nên nhờ sự tư vấn của những đơn vị thiết kế chuyên nghiệp. Sau khi tiếp nhận yêu cầu của bạn về nhu cầu, mong muốn, kinh phí đầu tư ước chừng, những đơn vị thiết kế nhà sẽ tiến hành khảo sát, đưa phương án thiết kế khoa học, dự toán kinh phí đầu tư cho bạn… Hơn nữa hồ sơ thiết kế nhà luôn được đảm bảo cao những yêu cầu theo quy định của kiến trúc xây dựng.</p>



					<h2>2. Lý do bạn nên thiết kế kiến trúc nhà trước khi thi công</h2>



					<p>Xây nhà là việc quan trọng của mỗi đời người nhưng có nhiều người lại cho rằng, việc thiết kế nhà sẽ gây nên nhiều phiền phức, sự tốn kém hoặc không cần thiết nên thường bỏ qua. Tuy nhiên, quá trình xây dựng luôn phải đáp ứng theo nhu cầu công năng,&nbsp;<strong>thiết kế nhà</strong>&nbsp;là khâu quan trọng trong quá trình xây dựng nhà mà chủ đầu tư không nên bỏ qua. Vì sao ư? Lý do sẽ được giải thích ngay sau đây:</p>



					<figure class="wp-block-image"><img decoding="async" src="https://wedo.vn/wp-content/uploads/2019/06/mau-thiet-ke-nha-dep-4.png" data-src="https://wedo.vn/wp-content/uploads/2019/06/mau-thiet-ke-nha-dep-4.png" alt="mau-thiet-ke-nha-dep-4" class="load1"></figure>



					<p>Thiết kế nhà biệt thự đẹp và hiện đại</p>



					<h3>2.1. Bản vẽ thiết kế là tất cả những chi tiết đầy đủ nhất</h3>



					<p>Bản vẽ thiết kế là cách thể hiện đầy đủ nhất về các thông số kỹ thuật, vật liệu sử dụng cũng như chi tiết cấu tạo tiêu chuẩn. Một công trình nhà nếu như không có sự tính toán thông số kỹ lưỡng sẽ gặp sai sót về kết cấu sau một thời gian sử dụng. Lúc này, ngôi nhà đó sẽ khiến gia chủ phải tốn rất nhiều chi phí để gia cố, sửa sang. Chắc chắn chẳng ai muốn xảy ra tình trạng phải gia cố móng sâu một thời gian dài sử dụng, sẽ mất rất nhiều công sức và tốn kém.</p>



					<figure class="wp-block-image"><img decoding="async" src="https://wedo.vn/wp-content/uploads/2018/10/thiet-ke-biet-thu-dep-hien-dai.jpg" data-src="https://wedo.vn/wp-content/uploads/2018/10/thiet-ke-biet-thu-dep-hien-dai.jpg" alt="thiet-ke-biet-thu-dep-hien-dai" class="load1"></figure>



					<p>Mẫu thiết kế nhà đẹp luôn đảm bảo về kinh phí cho khách hàng</p>



					<h3>2.2. Tiết kiệm thời gian và chi phí khi sửa chữa nhà về sau</h3>



					<p>Bạn không nên nghĩ rằng, tìm một đơn vị thiết kế nhà là lãng phí tiền mà bạn nên nghĩ rằng đó là một quy trình quan trọng đối với cả một quá trình xây dựng của ngôi nhà đó. Với một ngôi nhà được xây với chi phí là 2 tỷ thì việc bỏ ra 20-30 triệu đồng chỉ chiếm khoảng 3%-5% giá trị mà thôi. Con số này hoàn toàn nằm trong khả năng chấp nhận được so với việc bị lãng phí tiền khi xây do không được tính toán diện tích tỉ mỉ, chính xác. Và chắc chắn số tiền này có thể khẳng định là quá ít so với việc phải gia cố hay sửa sang lại nhà do những sai sót đáng tiếc khi xây dựng.</p>



					<p>Khi có bản vẽ thiết kế nhà cũng như hồ sơ kỹ thuật, chỉ cần đội thợ xây dựng đó biết đọc bản vẽ thì sẽ giúp ngắn thời gian thi công rất tốt, tiết kiệm được nhiều thời gian. Bên cạnh đó, khi đã có phương án xây dựng sẽ không gây nên tình trạng bất đồng quan điểm giữa chủ đầu tư và đội thợ thi công.</p>



					<figure class="wp-block-image"><img decoding="async" src="https://wedo.vn/wp-content/uploads/2018/10/mau-thiet-ke-biet-thu-dep-2.jpg" data-src="https://wedo.vn/wp-content/uploads/2018/10/mau-thiet-ke-biet-thu-dep-2.jpg" alt="mau-thiet-ke-biet-thu-dep-2" class="load1"></figure>



					<p>Thiết kế nhà luôn đảm bảo kết cấu bền vững</p>



					<h3>2.2. Thiết kế trước sẽ đảm bảo cho bạn ngôi nhà ưng ý</h3>



					<p>Chắc chắn bất kì ai cũng muốn tạo nên một ngôi nhà ấn tượng, độc đáo nhưng lại rất khó tưởng tượng về hình thái kiến trúc ngôi nhà đó như thế nào. Trong khi đó, nếu như thuê đơn vị thiết kế kiến trúc ngoại thất, họ sẽ giúp bạn tạo nên những kiến trúc nhà ở theo nhiều phong thái kiến trúc khác nhau, đảm bảo công năng nội thất bên trong và vẻ đẹp ngoại thất bên ngoài. Một số người còn lên mạng tìm các thiết kế nhà đẹp tương tự để làm nhưng sẽ không dễ dàng trong việc tính toán tỉ lệ cũng như kích thước các chi tiết của mẫu nhà của mình so với mẫu thiết kế bản vẽ đó.</p>



					<p><em><strong>Lưu ý khi thiết kế nhà:</strong></em></p>



					<p>Chi tiết bản vẽ thiết kế kiến trúc sẽ bao gồm kết cấu công trình, tính toán chính xác các vật liệu được sử dụng thi công, cách thức đổ bê tông, tháo dỡ cốt pha, bản vẽ điện nước, bản khái quát về chi phí xây dựng.</p>



					<h2><strong>3. Dịch vụ thiết kế nhà đẹp của Hồng Tâm luôn đảm bảo nhiều yếu tố</strong></h2>



					<p>Từ trước đến nay, việc&nbsp;<strong>thiết kế nhà</strong>&nbsp;vẫn được xem là bước đệm quan trọng trước khi thực hiện xây dựng. Đối với thiết kế biệt thự đẹp như<em>&nbsp;biệt thự cổ điển, biệt thự tân cổ điển, biệt thự mái thái, biệt thự hiện đại mái bằng,…</em>đều được&nbsp;<strong>HỒNG TÂM</strong>&nbsp;thiết kế sáng tạo theo những phong cách riêng hoàn toàn mới mẻ, hướng đến một không gian sống thông thoáng, khang trang và đảm bảo được các tiêu chuẩn khắt khe nhất về phong thuỷ, phù hợp với mệnh, tuổi của chủ đầu tư.</p>



					<figure class="wp-block-image"><img decoding="async" src="https://wedo.vn/wp-content/uploads/2018/07/thiet-ke-nha-dep.png" data-src="https://wedo.vn/wp-content/uploads/2018/07/thiet-ke-nha-dep.png" alt="thiet-ke-nha-dep" class="load1"></figure>



					<p>Thiết Kế Nhà Đẹp</p>



					<p>Đối với thiết kế nhà đẹp như&nbsp;<a href="https://wedo.vn/thiet-ke-nha-ong/">thiết kế nhà ống</a>, nhà phố,&nbsp;<strong>HỒNG TÂM</strong>&nbsp;cũng đã không ngừng sáng tạo nên nhiều phong cách cách nhà khác nhau như nhà ống 2 tầng, nhà ống 3 tầng, nhà ống 4 tầng, nhà phố mái thái, nhà phố mái bằng, nhà phố tân cổ, nhà phố hiện đại…</p>



					<p>Không chỉ đảm bảo các yếu tố phong thuỷ mà chúng tôi còn đảm bảo vấn đề lưu thông khí tự nhiên như ánh sáng, gió, giếng trời nhằm giúp hạn chế sự bí bách, khó chịu của nhà phố, nhà ống với chiều sâu lớn. Điều này cũng sẽ giúp gia chủ có được một không gian sống thoáng mát, gần gũi cùng thiên nhiên cây cối.</p>



					<figure class="wp-block-image"><img decoding="async" src="https://wedo.vn/wp-content/uploads/2018/10/thiet-ke-nha-pho-dep.jpg" data-src="https://wedo.vn/wp-content/uploads/2018/10/thiet-ke-nha-pho-dep.jpg" alt="thiet-ke-nha-pho-dep" class="load1"></figure>



					<p>Mẫu thiết kế nhà phố đẹp</p>



					<p>Không những đảm bảo thẩm mỹ, thiết kế độc đáo, mỗi công trình thiết kế và xây dựng của chúng tôi luôn thể hiện một kết cấu bền vững, chi phí xây dựng hợp lý. Chính kết cấu bền vững này đã giúp cho triệu ngôi nhà trường tồn cùng năm tháng, với vẻ đẹp vẹn nguyên.</p>



					<h2><strong>4. Quy trình thiết kế nhà tại đơn vị thiết kế nhà ở HỒNG TÂM</strong></h2>



					<p>Taị HỒNG TÂM, bạn có thể chọn riêng lẻ dịch vụ: Thiết kế kiến trúc, Thi công xây dựng, hoặc chọn Xây nhà trọn gói – Chìa khóa trao tay. Mỗi dịch vụ đều có quy trình như sau.</p>



					<div class="wp-block-image"><figure class="aligncenter"><img decoding="async" src="https://wedo.vn/wp-content/uploads/2018/07/quy-trinh-thiet-ke.jpg" data-src="https://wedo.vn/wp-content/uploads/2018/07/quy-trinh-thiet-ke.jpg" alt="quy-trinh-thiet-ke-nha" class="load1"></figure></div>



					<p>Quy trình thiết kế nhà</p>



					<p><strong>Buổi 1</strong>: Khách hàng sẽ nhận được các thông tin, biểu mẫu điền thông tin khách hàng, yêu cầu tư vấn và trao đổi về các thông tin có liên quan.</p>



					<p><strong>Buổi 2</strong>: Khách hàng và công ty tiến hành việc ký kết hợp đồng nguyên tắc (HĐNT) thực hiện việc tìm ý và triển khai hồ sơ phương án thiết kế hoặc ký Hợp đồng tư vấn thiết kế xây dựng (HĐTK).</p>



					<p><strong>Buổi 3</strong>: Chủ Nhà cùng Công ty thống nhất lựa chọn phương án&nbsp;thiết kế&nbsp; nhà&nbsp;hợp lý nhất được đồng thuận từ cả hai bên. Việc thống nhất các ý đồ dựa trên việc xác nhận trên các bản vẽ mặt bằng, và/hoặc mặt đứng, phối cả sơ phác (nếu có).</p>



					<p><strong>Buổi 4 + 5:</strong>&nbsp;Sau 2 tuần kể từ ngày thống nhất phương án cơ sở, Chủ Nhà cùng KTS xem xét các bản vẽ ở mức độ chi tiết: các bản vẽ chi tiết, các mặt cắt, cầu thang của bản vẽ thiết kế nhà.</p>



					<p>Nếu cần thiết, KTS và khách hàng có thể trao đổi thêm về một số vấn đề còn khúc mắc. Trình bày giải pháp cơ sở về kết cấu và ý đồ&nbsp;<a href="https://wedo.vn/thiet-ke-noi-that/" target="_blank" rel="noreferrer noopener"><strong>thiết kế nội thất</strong></a>&nbsp;(buổi 4). Trình bày giải pháp kỹ thuật, các bản vẽ chi tiết về kết cấu công trình, các giải pháp kỹ thuật điện, nước, thông tin liên lạc, quy cách vật liệu xây dựng kiểm tra tổng thể, hẹn ngày bàn giao hồ sơ (buổi 5).</p>



					<p><strong>Buổi 6</strong>: Hai bên tiến hành bàn giao hồ sơ (hồ sơ thiết kế kỹ thuật thi công, dự toán, thống kê vật liệu, giới thiệu Catalogue các sản phẩm xây dựng), và tiến hành quyết toán hợp đồng và thanh lý hợp đồng.</p>



					<h2>5. Dịch vụ thiết kế nhà ở đa dạng với chất lượng hoàn hảo</h2>



					<p>Với kinh nghiệm gần 20 năm lớn mạnh và trưởng thành, công ty xây dựng HỒNG TÂM tự hào là một trong những đơn vị hàng đầu cung cấp và đáp ứng đa dạng dịch vụ thiết kế nhà trọng gói cho quý khách hàng từ Bắc vào Nam như sau:</p>



					<ul><li>Dịch vụ thiết kế nhà ống</li><li>Dịch vụ thiết kế biệt thự 1 tầng, 2 tầng, biệt thự mini</li><li>Dịch vụ thiết kế nhà cấp 4</li><li>Dịch vụ thiết kế nhà 2 tầng</li><li>Dịch vụ thiết kế nhà 3 tầng</li><li>Dịch vụ thiết kế nhà 4 tầng</li><li>Dịch vụ thiết kế nhà phố</li><li>…</li></ul>



					<figure class="wp-block-image"><img decoding="async" src="https://wedo.vn/wp-content/uploads/2018/12/mau-thiet-ke-nha-hien-dai-cua-wedo.jpg" data-src="https://wedo.vn/wp-content/uploads/2018/12/mau-thiet-ke-nha-hien-dai-cua-wedo.jpg" alt="mau-thiet-ke-nha-hien-dai-cua-wedo" class="load1"></figure>



					<p>Mẫu thiết kế biệt thự mái thái nông thôn hiện đại</p>



					<h2>6. Lợi ích lớn khi lựa chọn dịch vụ thiết kế nhà đẹp tại HỒNG TÂM</h2>



					<p>5 lợi ích vàng bạn sẽ nhận được ngay khi sử dụng dịch vụ thiết kế nhà của chúng tôi như sau:</p>



					<p>– Thứ nhất: Miễn phí 100% phí khảo sát, tư vấn khi khách hàng lựa chọn dịch vụ thiết kế nhà</p>



					<p>– Thứ hai: Miễn phí tư vấn, phí thiết kế bản vẽ xin cấp phép xây dựng cho khách hàng sử dụng dịch vụ&nbsp;<strong>thiết kế nhà trọn gói</strong></p>



					<p>– Thứ ba: Miễn phí 100% phí thiết kế nhà khi khách hàng sử dụng dịch vụ thiết kế thi công nhà trọn gói</p>



					<p>– Thứ tư: Miễn phí hỗ trợ giám sát xây dựng trong quá trình thi công</p>



					<p>– Thứ năm: Bàn giao hồ sơ thiết kế trong vòng 20 ngày, với quy trình, hợp đồng rõ ràng và chi phí cam kết thấp hơn thị trường 10%</p>



					<p>Thiết kế công trình hoàn hảo, đảm bảo lợi ích cho khách hàng là phương châm làm việc của chúng tôi. Dịch vụ tư vấn thiết kế nhà ở đẹp của Wedo đảm bảo<strong>&nbsp;chất lượng – tiết kiệm chi phí – mang đến không gian sống đẹp</strong>&nbsp;nhất dành cho tất cả các gia đình.</p>



					<figure class="wp-block-image"><img decoding="async" src="https://wedo.vn/wp-content/uploads/2018/12/mau-thiet-ke-nha-biet-thu-dep.jpg" data-src="https://wedo.vn/wp-content/uploads/2018/12/mau-thiet-ke-nha-biet-thu-dep.jpg" alt="mau-thiet-ke-nha-biet-thu-dep" class="load1"></figure>



					<p>Thiết kế công trình hoàn hảo, đảm bảo lợi ích cho khách hàng là phương châm làm việc của chúng tôi</p>



					<p class="has-text-align-center">Với đội ngũ nhân viên giàu kinh nghiệm, các sản phẩm đạt chất lượng, dịch vụ thi công xây dựng cạnh tranh,&nbsp;<strong>Hồng Tâm</strong>&nbsp;luôn mang lại dịch vụ tốt nhất cho khách hàng. Hãy liên hệ ngay với chúng tôi để được tư vấn.&nbsp;<br></p>



					<p class="has-text-align-center"><strong>Hotline:  0937888140 – 0938382841</strong></p>



					<p class="has-text-align-center"><a href="tel:0937888140"></a></p>



					<div class="wp-block-image"><figure class="aligncenter size-large is-resized"><img decoding="async" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20489%20325%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://nhadepvungtau.com/wp-content/uploads/2021/11/a-1024x683.jpg" alt="" class="lazy-load wp-image-261" width="489" height="325" srcset="" data-srcset="https://nhadepvungtau.com/wp-content/uploads/2021/11/a-1024x683.jpg 1024w, https://nhadepvungtau.com/wp-content/uploads/2021/11/a-300x200.jpg 300w, https://nhadepvungtau.com/wp-content/uploads/2021/11/a-768x512.jpg 768w, https://nhadepvungtau.com/wp-content/uploads/2021/11/a-600x400.jpg 600w, https://nhadepvungtau.com/wp-content/uploads/2021/11/a.jpg 1200w" sizes="(max-width: 489px) 100vw, 489px"></figure></div>


				</div>
			</div>
		</div>
	</div>


</main>